
.App {
    text-align: center;
    background-color: #eef2f4;
}

.App-header {
    padding: 1%;
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    background-color: rgba(238, 242, 244, 0.35);
}

.App-body {
    background-color: #eef2f4;
    min-height: 89vh;
}

